<form class="form">
  <h4 class="heading">Antes de tudo, precisamos de algumas informações</h4>

  <div class="form-input">
    <label for="weight">Kg</label>
    <input id="weight" name="weight" type="text" placeholder="Peso" autofocus>
  </div>

  <div class="form-input error">
    <label for="age">Anos</label>
    <input id="age" name="age" type="text" placeholder="Idade">
  </div>

  <div class="form-input">
    <label for="price">R$</label>
    <input id="price" name="price" type="text" placeholder="Preço">
  </div>

  <button type="submit" class="button success">Salvar</button>
</form>
