<table class="table">
  <thead>
    <tr>
      <th data-order="[weight]=ASC">Peso</th>
      <th data-order="[age]=ASC">Idade</th>
      <th data-order="[price]=ASC">Preço</th>
      <th>Pasto mensal</th>
      <th>Custo anual da vaca</th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<script id="templateRow" type="text/x-jsrender">
  <tr data-id="{{:id}}" class="{{:recommendedClass}}">
    <td>{{:weight}} Kg</td>
    <td>{{:age}} <span class="small-only">anos</span></td>
    <td>R$ {{:price}}</td>
    <td>{{:monthlyFood}} <span class="small-only">Kg de pasto p/ mês</td>
    <td>R$ {{:annualCost}} <span class="small-only">p/ ano</span></td>
    <td>
      <button class="button small success" data-action="update">Editar</button>
      <button class="button small danger" data-action="remove">Excluir</button>
    </td>
  </tr>
</script>
