@media print
  body
    margin: 10mm
    background: #fff
    color: #000
    font-family: $font-system
    letter-spacing: 0

  .default-header
    display: block
    height: auto
    margin-bottom: 10mm
    background: none

    h1
      padding-top: 15mm
      font-size: 30pt

      a
        color: #000

    h3
      margin-top: 2mm
      color: #000

  .default-footer
    padding: 10mm 0 0

  .default-content
    .container
      width: 100%
      padding: 0

  .table
    thead
      th
        padding: 2.5mm
        border: 1px solid #000
        color: #000
        font-size: 11pt

        &:last-child
          display: none

    tbody
      td
        padding: 2.5mm
        border: 1px solid #000
        font-size: 11pt

        &:last-child
          display: none
