// Screen
=screen($value, $property: max-width)
  @media screen and ($property: $value)
    @content

// Selection
=selection($background, $color)
  $prefixes: ('-moz-', '')

  @each $prefix in $prefixes
    ::#{$prefix}selection
      background: $background
      color: $color

// Button
=button($name, $color)
  &.#{$name}
    background: $color

    &:hover
      background: lighten($color, 5%)

// Alert
=alert($name, $color)
  &.#{$name}
    border-color: $color
    background: $color
