%font-thin
  font:
    weight: 300
    family: $font-thin

%font-thick
  font:
    weight: 700
    family: $font-thick

%link
  +transition(all 0.1s)

  color: map-get($color-custom, 1)
  text-decoration: none

  &:hover
    color: lighten(map-get($color-custom, 1), 5%)
