.alert
  $color: map-get($color-custom, 1)
  +box-sizing(border-box)

  z-index: 1000
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding: 30px
  margin-bottom: 30px
  border: 2px solid $color
  background: $color
  color: #fff
  line-height: 140%
  text:
    transform: uppercase
    align: center

  p
    margin-top: 1em

  +alert('success', $color-success)
  +alert('danger', $color-danger)
