.button
  @extend %font-thick
  $color: map-get($color-custom, 1)
  +transition(all 0.1s)

  display: inline-block
  height: 57px
  padding: 0 20px
  border: none
  background: $color
  color: #fff
  font-size: 19px
  letter-spacing: $letter-spacing
  text-transform: uppercase

  &:hover
    background: lighten($color, 5%)

  &.small
    height: 20px
    padding: 0 15px
    font-size: 11px

  +button('success', $color-success)
  +button('danger', $color-danger)
