.form
  text-align: center

  .heading
    padding-bottom: 25px
    font:
      weight: 700
      size: 1.2em
    line-height: 140%
    text-transform: uppercase

  .button
    width: $form-container-width
    margin: 60px auto 0

.form-input
  $height: 70px

  position: relative
  width: $form-container-width
  margin: 35px auto 0

  label
    @extend %font-thick

    position: absolute
    top: 0
    right: 0
    display: block
    width: 80px
    color: $color-muted
    font-size: 1.3em
    line-height: $height
    text-align: center

    &[for='price']
      left: 0

  input
    @extend %font-thick
    +box-sizing(border-box)

    display: block
    width: 100%
    height: $height
    border: none
    border-bottom: 1px solid #000
    color: map-get($color-custom, 1)
    font-size: 2.5em
    letter-spacing: $letter-spacing
    text:
      transform: uppercase
      align: center

    +input-placeholder
      color: map-get($color-custom, 1)

    &:focus
      border-color: lighten(map-get($color-custom, 1), 5%)
      outline: 0

    &:invalid
      border-color: $color-danger
      color: $color-danger

// Responsivity
+screen(map-get($screen, medium))
  $container-width: 100%

  .form
    .button
      +box-sizing(border-box)

      width: $container-width

  .form-input
    +box-sizing(border-box)

    width: $container-width
