// Default header
.default-header
  +display-flex()
  +flex-direction(column)
  +align-content(center)
  +justify-content(center)

  height: 524px
  background:
    image: image-url('bg-cow.jpg')
    position: 50% 0
    repeat: no-repeat
  text:
    transform: uppercase
    align: center

  h1
    @extend %font-thin

    padding-top: 80px
    background:
      image: image-url('logo-tag.png')
      position: 50% 0
      repeat: no-repeat

    a
      color: #fff

  h3
    @extend %font-thick

    margin-top: 35px
    font-size: 1.3em

  // Responsivity
  +screen(map-get($screen, medium))
    height: 324px
    background-size: auto 100%
    font-size: 0.7em

    h1
      font-size: 3em

// Default footer
.default-footer
  padding: 65px 0
  text-align: center

  h3
    @extend %font-thick

    padding-top: 45px
    background:
      image: image-url('logo-tag-small.png')
      position: 50% 0
      repeat: no-repeat
    font-size: 0.9em
    text-transform: uppercase

    span
      display: block
      margin-top: 15px
      font:
        size: 1.05em
        family: $font-secondary
      letter-spacing: 0
      text-transform: none

  // Responsivity
  +screen(map-get($screen, medium))
    padding: 35px 0

// Default content
.default-content
  background: #fff
  color: #000
  font-size: 0.9em
  text-transform: uppercase

  .container
    width: 960px
    padding: 80px 0
    margin: 0 auto

  // Responsivity
  +screen(map-get($screen, medium))
    .container
      +box-sizing(border-box)

      width: 100%
      padding: 40px 10px
