.loading
  z-index: 999
  position: fixed
  top: 0
  left: 0
  display: none
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, 0.95)

  .container
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    text-align: center

  .spinner
    $size: 60px
    +border-radius(50%)
    +animation(rotate 0.8s infinite linear)

    width: $size
    height: $size
    border: 8px solid map-get($color-custom, 1)
    border-right-color: transparent

    @keyframes rotate
      0%
        +transform(rotate(0))

      100%
        +transform(rotate(360deg))
