.table
  width: 100%
  font-size: 1.3em

  thead
    th
      @extend %font-thick
      +transition(all 0.1s)

      padding: 15px 0 30px
      color: map-get($color-custom, 1)
      text-align: center

      &[data-order]
        cursor: pointer

        &:hover
          color: lighten(map-get($color-custom, 1), 5%)

  tbody
    tr
      +transition(all 0.1s)

      &:hover
        background: $color-highlight

      &.recommended
        +animation(pulse 0.5s ease-out infinite)

        background: darken($color-highlight, 5%)

        td
          font-weight: 700

          &:first-child
            position: relative

            &:before
              @extend %font-thick
              +border-radius(2px)
              +box-shadow(1px 1px 2px rgba(0, 0, 0, 0.2))

              content: 'Recomendada'
              position: absolute
              top: -6px
              left: -2px
              display: block
              padding: 2.5px 5px
              background: map-get($color-custom, 1)
              color: #fff
              font-size: 9px
              line-height: 100%
              letter-spacing: 0

        @keyframes pulse
          50%
            background: darken($color-highlight, 10%)

    td
      padding: 10px 0
      border-bottom: 1px solid $color-light
      text-align: center

      &:last-child
        border-color: #fff
        text-align: left

  .small-only
    display: none

  .button
    margin-right: 3px

  // Responsivity
  +screen(map-get($screen, medium))
    font-size: 1.1em

    thead
      display: none

    tbody
      tr
        +box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1))

        display: block
        margin-bottom: 30px
        border: 1px solid $color-light
        border-top: 2px solid map-get($color-custom, 1)
        background: #fff

        &:last-child
          td
            border-bottom: 1px solid rgba(230, 230, 230, 0.7)

        td
          display: block
          padding: 7px

          &:last-child
            border-bottom: none
            text-align: center

    .small-only
      display: inline-block
