html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url('../fonts/BrandonGrotesque-Regular.eot?1484773394');
  src: url('../fonts/BrandonGrotesque-Regular.eot?&1484773394#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Regular.woff?1484773395') format('woff'), url('../fonts/BrandonGrotesque-Regular.ttf?1484773394') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url('../fonts/BrandonGrotesque-Thin.eot?1484773393');
  src: url('../fonts/BrandonGrotesque-Thin.eot?&1484773393#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Thin.woff?1484773393') format('woff'), url('../fonts/BrandonGrotesque-Thin.ttf?1484773393') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Brandon Grotesque";
  src: url('../fonts/BrandonGrotesque-Bold.eot?1484870652');
  src: url('../fonts/BrandonGrotesque-Bold.eot?&1484870652#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Bold.woff?1484870653') format('woff'), url('../fonts/BrandonGrotesque-Bold.ttf?1484870652') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: url('../fonts/LibreBaskerville-Italic.eot?1484861930');
  src: url('../fonts/LibreBaskerville-Italic.eot?&1484861930#iefix') format('embedded-opentype'), url('../fonts/LibreBaskerville-Italic.woff?1484861930') format('woff'), url('../fonts/LibreBaskerville-Italic.ttf?1484861930') format('truetype');
  font-weight: 400;
  font-style: italic;
}
.default-header h1 {
  font-weight: 300;
  font-family: "Brandon Grotesque", sans-serif;
}

.default-header h3, .default-footer h3, .button, .form-input label, .form-input input, .table thead th, .table tbody tr.recommended td:first-child:before {
  font-weight: 700;
  font-family: "Brandon Grotesque", sans-serif;
}

a {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #1f90aa;
  text-decoration: none;
}
a:hover {
  color: #23a2c0;
}

body {
  background: #000;
  color: #fff;
  font-size: 1em;
  font-family: "Brandon Grotesque", sans-serif;
  letter-spacing: 0.05em;
}

strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

.default-header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 524px;
  background-image: url('../images/bg-cow.jpg?1484865274');
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-align: center;
}
.default-header h1 {
  padding-top: 80px;
  background-image: url('../images/logo-tag.png?1484861635');
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.default-header h1 a {
  color: #fff;
}
.default-header h3 {
  margin-top: 35px;
  font-size: 1.3em;
}
@media screen and (max-width: 990px) {
  .default-header {
    height: 324px;
    background-size: auto 100%;
    font-size: 0.7em;
  }
  .default-header h1 {
    font-size: 3em;
  }
}

.default-footer {
  padding: 65px 0;
  text-align: center;
}
.default-footer h3 {
  padding-top: 45px;
  background-image: url('../images/logo-tag-small.png?1484861757');
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-size: 0.9em;
  text-transform: uppercase;
}
.default-footer h3 span {
  display: block;
  margin-top: 15px;
  font-size: 1.05em;
  font-family: "Libre Baskerville";
  letter-spacing: 0;
  text-transform: none;
}
@media screen and (max-width: 990px) {
  .default-footer {
    padding: 35px 0;
  }
}

.default-content {
  background: #fff;
  color: #000;
  font-size: 0.9em;
  text-transform: uppercase;
}
.default-content .container {
  width: 960px;
  padding: 80px 0;
  margin: 0 auto;
}
@media screen and (max-width: 990px) {
  .default-content .container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 10px;
  }
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.9em;
}

h3 {
  font-size: 2.3em;
}

h4 {
  font-size: 1.9em;
}

h5 {
  font-size: 1.7em;
}

h6 {
  font-size: 1.5em;
}

.button {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: inline-block;
  height: 57px;
  padding: 0 20px;
  border: none;
  background: #1f90aa;
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.button:hover {
  background: #23a2c0;
}
.button.small {
  height: 20px;
  padding: 0 15px;
  font-size: 11px;
}
.button.success {
  background: #65cfb0;
}
.button.success:hover {
  background: #78d5ba;
}
.button.danger {
  background: #e68692;
}
.button.danger:hover {
  background: #ea9ba5;
}

.form {
  text-align: center;
}
.form .heading {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 140%;
  text-transform: uppercase;
}
.form .button {
  width: 455px;
  margin: 60px auto 0;
}

.form-input {
  position: relative;
  width: 455px;
  margin: 35px auto 0;
}
.form-input label {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 80px;
  color: #bbb;
  font-size: 1.3em;
  line-height: 70px;
  text-align: center;
}
.form-input label[for='price'] {
  left: 0;
}
.form-input input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: 1px solid #000;
  color: #1f90aa;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.form-input input:-moz-placeholder {
  color: #1f90aa;
}
.form-input input::-moz-placeholder {
  color: #1f90aa;
}
.form-input input:-ms-input-placeholder {
  color: #1f90aa;
}
.form-input input::-webkit-input-placeholder {
  color: #1f90aa;
}
.form-input input:focus {
  border-color: #23a2c0;
  outline: 0;
}
.form-input input:invalid {
  border-color: #e68692;
  color: #e68692;
}

@media screen and (max-width: 990px) {
  .form .button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }

  .form-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
.table {
  width: 100%;
  font-size: 1.3em;
}
.table thead th {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  padding: 15px 0 30px;
  color: #1f90aa;
  text-align: center;
}
.table thead th[data-order] {
  cursor: pointer;
}
.table thead th[data-order]:hover {
  color: #23a2c0;
}
.table tbody tr {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.table tbody tr:hover {
  background: #fef6dd;
}
.table tbody tr.recommended {
  -moz-animation: pulse 0.5s ease-out infinite;
  -webkit-animation: pulse 0.5s ease-out infinite;
  animation: pulse 0.5s ease-out infinite;
  background: #fdefc4;
}
.table tbody tr.recommended td {
  font-weight: 700;
}
.table tbody tr.recommended td:first-child {
  position: relative;
}
.table tbody tr.recommended td:first-child:before {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  content: "Recomendada";
  position: absolute;
  top: -6px;
  left: -2px;
  display: block;
  padding: 2.5px 5px;
  background: #1f90aa;
  color: #fff;
  font-size: 9px;
  line-height: 100%;
  letter-spacing: 0;
}
@keyframes pulse {
  50% {
    background: #fde9ab;
  }
}
.table tbody td {
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  text-align: center;
}
.table tbody td:last-child {
  border-color: #fff;
  text-align: left;
}
.table .small-only {
  display: none;
}
.table .button {
  margin-right: 3px;
}
@media screen and (max-width: 990px) {
  .table {
    font-size: 1.1em;
  }
  .table thead {
    display: none;
  }
  .table tbody tr {
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 30px;
    border: 1px solid #d2d2d2;
    border-top: 2px solid #1f90aa;
    background: #fff;
  }
  .table tbody tr:last-child td {
    border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  }
  .table tbody tr td {
    display: block;
    padding: 7px;
  }
  .table tbody tr td:last-child {
    border-bottom: none;
    text-align: center;
  }
  .table .small-only {
    display: inline-block;
  }
}

.alert {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  border: 2px solid #1f90aa;
  background: #1f90aa;
  color: #fff;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
}
.alert p {
  margin-top: 1em;
}
.alert.success {
  border-color: #65cfb0;
  background: #65cfb0;
}
.alert.danger {
  border-color: #e68692;
  background: #e68692;
}

.loading {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
}
.loading .container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.loading .spinner {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: rotate 0.8s infinite linear;
  -webkit-animation: rotate 0.8s infinite linear;
  animation: rotate 0.8s infinite linear;
  width: 60px;
  height: 60px;
  border: 8px solid #1f90aa;
  border-right-color: transparent;
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media print {
  body {
    margin: 10mm;
    background: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
  }

  .default-header {
    display: block;
    height: auto;
    margin-bottom: 10mm;
    background: none;
  }
  .default-header h1 {
    padding-top: 15mm;
    font-size: 30pt;
  }
  .default-header h1 a {
    color: #000;
  }
  .default-header h3 {
    margin-top: 2mm;
    color: #000;
  }

  .default-footer {
    padding: 10mm 0 0;
  }

  .default-content .container {
    width: 100%;
    padding: 0;
  }

  .table thead th {
    padding: 2.5mm;
    border: 1px solid #000;
    color: #000;
    font-size: 11pt;
  }
  .table thead th:last-child {
    display: none;
  }
  .table tbody td {
    padding: 2.5mm;
    border: 1px solid #000;
    font-size: 11pt;
  }
  .table tbody td:last-child {
    display: none;
  }
}
